
/build/
/bin/
/obj/
/.vs/
/vcpkg/
/irrlicht_extract/
*.exe
*.dll
*.pdb
*.ilk
*.obj
*.lib
*.exp
*.log
*.zip
*.7z
*.rar
*.tmp
*.bak
*.user
*.suo
*.VC.db
*.ipch
/ProjectIgnisMod/
/game-install/
/pics/
/cover/
/replay/
/screenshots/
/deck/
/installer/*.exe
