
/bin/
/obj/
/.vs/
/vcpkg/
/irrlicht_extract/
/EDOPro-Source/bin/
/EDOPro-Source/obj/
/EDOPro-Source/.vs/
/EDOPro-Source/vcpkg/
/EDOPro-Source/irrlicht_extract/
/EDOPro-Source/irrlicht1-8-4-1.9-custom.zip
*.exe
*.dll
*.pdb
*.ilk
*.obj
*.lib
*.exp
*.log
*.zip
*.7z
*.rar
*.tmp
*.bak
*.user
*.suo
*.VC.db
*.ipch
/ProjectIgnisMod/
/game-install/
/pics/
/cover/
/replay/
/screenshots/
/deck/
/installer/*.exe
